<footer>
    <div class="container">
        <img src="../../build/img/footer-img.png" alt="">
        <div class="row">
            <div class="col-lg-2 col-6">
                <p class="footer-subtitle">МЕНЮ</p>
                <ul class="footer-list">
                    <li>
                        <a href="#">Услуги</a>
                    </li>
                    <li>
                        <a href="#">О нас</a>
                    </li>
                    <li>
                        <a href="#">Блог</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-6">
                <p class="footer-subtitle">Телефоны</p>
                <ul class="footer-list">
                    <li>
                        <a href="tel:8 800 123-45-67">8 800 123-45-67</a>
                    </li>
                    <li>
                        <a href="tel:8 800 123-45-67">8 800 123-45-67</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 col-12">
                <p class="footer-subtitle">E-mail</p>
                <ul class="footer-list">
                    <li>
                        <a href="mailto:mail@luxdentica.ru">mail@luxdentica.ru</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <p class="footer-subtitle">время работы</p>
                <p class="footer-work">Пн-Пт с 9:00 до 18:00 <br>Сб с 10:00 до 16:00 <br>Вс - выходной</p>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <p class="footer-subtitle">мы в соцсетях</p>
                <ul class="footer-list-acc">
                    <li>
                        <a href="#">
                            <img src="../../build/img/insta.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../build/img/fb.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../build/img/youtube.svg" alt="">
                        </a>
                    </li>
    	            <li>
                        <a href="#">
                            <img src="../../build/img/telega.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p>© 2020 LUXDENTICA</p>
            <a href="/policy">Правовая информация</a>
        </div>
    </div>
</footer>
