<div class="services-page pt64">
    <section class="serices-first">
        <p class="serv-letter">услуги</p>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-12">
                    <p class="rubrika">наши услуги</p>
                    <h1>Услуги клиники</h1>
                    <p>Maecenas pretium est ut nulla fames nibh quisque amet id. Duis nisl, nunc purus pharetra lacus, mauris nulla varius sed.</p>
                    <div class="serv-btn">Записаться на прием</div>
                </div>
            </div>
        </div>
        <img src="../../build/img/serv1.png" alt="">
    </section>
    <!-- 2 block  -->
    <section class="serices-second">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-12">
                    <div class="spectrum-block">
                        <div class="brdr-top"></div>
                        <div class="brdr-bottom"></div>
                        <img src="../../build/img/zub1.svg" alt="">
                        <div class="spectrum-block-content">
                            <p class="spectrum-name">Терапевтическая стоматология</p>
                            <p>Ipsum ipsum in ante non. Gravida a, magna interdum nulla quam convallis adipiscing et. Semper faucibus commodo proin ut fringilla</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-12">
                    <div class="spectrum-block">
                        <div class="brdr-top"></div>
                        <div class="brdr-bottom"></div>
                        <img src="../../build/img/zub2.svg" alt="">
                        <div class="spectrum-block-content">
                            <p class="spectrum-name">Детская стоматология</p>
                            <p>Ipsum ipsum in ante non. Gravida a, magna interdum nulla quam convallis adipiscing et. Semper faucibus commodo proin ut fringilla</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-12">
                    <div class="spectrum-block">
                        <div class="brdr-top"></div>
                        <div class="brdr-bottom"></div>
                        <img src="../../build/img/zub3.svg" alt="">
                        <div class="spectrum-block-content">
                            <p class="spectrum-name">Ортодонтическая стоматология</p>
                            <p>Ipsum ipsum in ante non. Gravida a, magna interdum nulla quam convallis adipiscing et. Semper faucibus commodo proin ut fringilla</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-12">
                    <div class="spectrum-block">
                        <div class="brdr-top"></div>
                        <div class="brdr-bottom"></div>
                        <img src="../../build/img/zub4.svg" alt="">
                        <div class="spectrum-block-content">
                            <p class="spectrum-name">Ортопедическая стоматология</p>
                            <p>Ipsum ipsum in ante non. Gravida a, magna interdum nulla quam convallis adipiscing et. Semper faucibus commodo proin ut fringilla</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-12">
                    <div class="spectrum-block">
                        <div class="brdr-top"></div>
                        <div class="brdr-bottom"></div>
                        <img src="../../build/img/zub5.svg" alt="">
                        <div class="spectrum-block-content">
                            <p class="spectrum-name">хирургическая стоматология</p>
                            <p>Ipsum ipsum in ante non. Gravida a, magna interdum nulla quam convallis adipiscing et. Semper faucibus commodo proin ut fringilla</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-12">
                    <div class="spectrum-block">
                        <div class="brdr-top"></div>
                        <div class="brdr-bottom"></div>
                        <img src="../../build/img/zub6.svg" alt="">
                        <div class="spectrum-block-content">
                            <p class="spectrum-name">рентген диагностика</p>
                            <p>Ipsum ipsum in ante non. Gravida a, magna interdum nulla quam convallis adipiscing et. Semper faucibus commodo proin ut fringilla</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
