.pop-up-overlay-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    // height: 100vh;
    // height: calc(var(--vhR, 1vh) * 100);
    z-index: 5;
    .overlay-pop-up {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 6;
    }
    &.active {
        display: flex;
        opacity: 1;
    }
}
.pop-up-general-block {
    position: relative;
    max-height: 90vh;
    max-width: 90%;
    width: 400px;
    overflow-y: auto;
    z-index: 7;
    padding: 45px 30px 55px;
    display: none;
    background-color: #ffffff;
    h2 {
        color: #2A2A2A;
        margin-bottom: 30px;
    }
    .vert-inp .warning {
        margin-top: 20px;
        margin-bottom: 30px;
        line-height: 1.5;
    }
    .form-btn {
        width: 100%;
    }
    &.active {
        display: block;
    }
    &.thnx {
        h2 {
            text-align: center;
            margin-bottom: 14px;
            & + p {
                text-align: center;
                margin-bottom: 32px;
            }
        }
    }
}

.pop-up-general-block-close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    &::before, &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 18px;
        margin-top: -1px;
        margin-left: -9px;
        height: 2px;
        display: block;
        transition: .2s;
        background-color: #798187;
    }
    &::before {
        transform: rotate(45deg);
    }
    &::after {
        transform: rotate(-45deg);
    }
    &:hover {
        &::after, &::before {
            background-color: darken(#000, 10%);
        }
    }
}


@media (max-width: 767px) {
    .pop-up-general-block {
        h2 {
            margin-bottom: 26px;
        }
        &.thnx {
            padding: 40px 25px 45px;
        }
    }
    .pop-up-general-block-close-btn {
        top: 10px;
        right: 10px;
    }
}
