<div class="about-page pt64">
    <section class="about-first">
        <div class="bg-wrp">
            <img src="../../build/img/ab1.png" alt="">
        </div>
        <p class="ab-letter">о нас</p>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <p class="rubrika">о компании</p>
                    <h1>Лучшая команда квалифицированных специлистов</h1>
                    <p>Maecenas pretium est ut nulla fames nibh quisque amet id. Duis nisl, nunc purus pharetra lacus, mauris nulla varius sed.</p>
                </div>
            </div>
            <a href="#ab2" class="palka-drop scrollTo">
                <span class="run-line"></span>
            </a>
        </div>
    </section>
    <section id="ab2" class="about-spisok">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <h2>Здесь список регалий и коротко о компании Lux Dentica</h2>
                    <p>Vitae pellentesque ac, laoreet arcu laoreet varius justo ultricies. Donec tortor eu sit aliquet nunc. Ornare sapien, condimentum diam commodo eget elementum, ac. Lacus auctor orci senectus sit massa sit. Sapien, at vel ac porttitor ac placerat. Sagittis lectus fusce eget aliquam viverra. Ultricies diam, ipsum quis nibh nulla at semper. Commodo augue dictum amet sapien, sagittis arcu. </p>
                </div>
                <div class="offset-lg-2 offset-0 col-lg-4 col-12">
                    <ul class="commanda-list commanda-list-ab">
                            <li>
                                <span>16</span>
                                <span>лет на <br> рынке</span>
                            </li>
                            <li>
                                <span>28</span>
                                <span>квалифицированных <br>специалистов</span>
                            </li>
                            <li>
                                <span>46</span>
                                <span>сертификатов <br>и дипломов</span>
                            </li>
                        </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="ab-doc-section">
        <div class="bgAb-wrp">
            <img src="../../build/img/abBg.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <h2>Сертификаты и дипломы</h2>
                    <p>Maecenas pretium est ut nulla fames nibh quisque amet id. Duis nisl, nunc purus pharetra lacus, mauris nulla varius sed.</p>
                    <div class="rev-slid-arr-wrp rev-slid-arr-wrp-ab desc">
                        <div class="sider-arrows sider-arrows-prev prev-abDoc-arrow">
                            <img src="../../build/img/prev.svg" alt="">
                        </div>
                        <div class="sider-arrows sider-arrows-next next-abDoc-arrow">
                            <img src="../../build/img/prev.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ab-doc-slider-wrp">
            <div class="ab-doc-slider">
                <div>
                    <a class="ab-doc-slide fancy-link" href="../../build/img/sert1.png">
                        <img src="../../build/img/sert1.png" alt="">
                        <p>Сертификат с названием длинным</p>
                    </a>
                </div>
                <div>
                    <a class="ab-doc-slide fancy-link" href="../../build/img/sert2.png">
                        <img src="../../build/img/sert2.png" alt="">
                        <p>Сертификат с названием длинным</p>
                    </a>
                </div>
                <div>
                    <a class="ab-doc-slide fancy-link" href="../../build/img/sert1.png">
                        <img src="../../build/img/sert1.png" alt="">
                        <p>Сертификат с названием длинным</p>
                    </a>
                </div>
                <div>
                    <a class="ab-doc-slide fancy-link" href="../../build/img/sert2.png">
                        <img src="../../build/img/sert2.png" alt="">
                        <p>Сертификат с названием длинным</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="rev-slid-arr-wrp rev-slid-arr-wrp-ab mob">
                <div class="sider-arrows sider-arrows-prev prev-abDoc-arrow">
                    <img src="../../build/img/prev.svg" alt="">
                </div>
                <div class="sider-arrows sider-arrows-next next-abDoc-arrow">
                    <img src="../../build/img/prev.svg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="ab-spec">
        <div class="container">
            <h2>Наши специалисты</h2>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="ab-spec-block">
                        <div class="ab-spec-block-img">
                            <img src="../../build/img/abSpec1.png" alt="">
                        </div>
                        <div class="ab-spec-block-text">
                            <p class="rubrika">Стоматолог-хирург</p>
                            <p>Иванов Иван</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="ab-spec-block">
                        <div class="ab-spec-block-img">
                            <img src="../../build/img/abSpec2.png" alt="">
                        </div>
                        <div class="ab-spec-block-text">
                            <p class="rubrika">Стоматолог-хирург</p>
                            <p>Иванов Иван</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="ab-spec-block">
                        <div class="ab-spec-block-img">
                            <img src="../../build/img/abSpec3.png" alt="">
                        </div>
                        <div class="ab-spec-block-text">
                            <p class="rubrika">Стоматолог-хирург</p>
                            <p>Иванов Иван</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="ab-spec-block">
                        <div class="ab-spec-block-img">
                            <img src="../../build/img/abSpec3.png" alt="">
                        </div>
                        <div class="ab-spec-block-text">
                            <p class="rubrika">Стоматолог-хирург</p>
                            <p>Иванов Иван</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="ab-spec-block">
                        <div class="ab-spec-block-img">
                            <img src="../../build/img/abSpec1.png" alt="">
                        </div>
                        <div class="ab-spec-block-text">
                            <p class="rubrika">Стоматолог-хирург</p>
                            <p>Иванов Иван</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ab-why">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-7 col-12">
                    <p class="rubrika">Почему мы</p>
                    <h2>Наши принципы просты: аккуратность, квалификация, чистота, педантичность</h2>
                    <div class="row row-why-icons">
                        <div class="col-md-6 col-12">
                            <div class="why-block">
                                <img src="../../build/img/why-icon-1.svg" alt="">
                                <p class="why-title">Aliquam scelerisque felis interdum</p>
                                <p class="why-text">Enim pellentesque sit luctus venenatis, varius fringilla risus lorem consequat. Placerat odio nullam a non placerat dui. Turpis arcu odio pharetra etiam eget erat vitae. Amet vel et sodales tellus.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="why-block">
                                <img src="../../build/img/why-icon-2.svg" alt="">
                                <p class="why-title">Suspendisse sagittis at quis</p>
                                <p class="why-text">Eget ornare neque, turpis odio facilisis. Sollicitudin euismod fringilla amet massa. Scelerisque suspendisse erat vitae magna id sit. Amet dictum pretium ut nec rhoncus sed.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="why-block">
                                <img src="../../build/img/why-icon-3.svg" alt="">
                                <p class="why-title">Felis odio nunc, nulla</p>
                                <p class="why-text">Id luctus tincidunt amet, cursus. Aenean eget feugiat blandit aliquam tortor, duis nisi hendrerit. Et dui sed commodo convallis. Maecenas curabitur in pretium vitae.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="why-block">
                                <img src="../../build/img/why-icon-4.svg" alt="">
                                <p class="why-title">Interdum dictum sagittis, ante</p>
                                <p class="why-text">Ullamcorper massa quis lectus est pulvinar. Ut consectetur eleifend donec id. Et pulvinar felis orci id amet, magna in. Eget turpis tellus fermentum vitae fermentum curabitur duis tincidunt.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-12">
                    <div class="why-img">
                        <img src="../../build/img/why.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
