<div class="blog-page pt64">
    <div class="container">
        <div class="row row-blog-1">
            <div class="col-xl-7 col-12">
                <p class="rubrika">наш блог</p>
                <h1>Полезные статьи и&nbsp;новости</h1>
            </div>
        </div>
        <div class="row row-blog-content">
            <div class="col-md-6 col-12">
                <div class="blog-block">
                    <div class="blog-block-img">
                        <p class="data">18 сентября 2020</p>
                        <img src="../../build/img/blog1.jpg" alt="">
                    </div>
                    <p class="blog-title">Sed risus morbi a eget mi magna nec interdum</p>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="blog-block">
                    <div class="blog-block-img">
                        <p class="data">18 сентября 2020</p>
                        <img src="../../build/img/blog2.jpg" alt="">
                    </div>
                    <p class="blog-title">Lorem habitasse purus fringilla convallis nisi maecenas.</p>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="blog-block">
                    <div class="blog-block-img">
                        <p class="data">18 сентября 2020</p>
                        <img src="../../build/img/blog3.jpg" alt="">
                    </div>
                    <p class="blog-title">Eget et sed in bibendum nisl.</p>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="blog-block">
                    <div class="blog-block-img">
                        <p class="data">18 сентября 2020</p>
                        <img src="../../build/img/blog4.jpg" alt="">
                    </div>
                    <p class="blog-title">Suspendisse in nunc, purus amet aliquet sit consequat condimentum.</p>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="blog-block">
                    <div class="blog-block-img">
                        <p class="data">18 сентября 2020</p>
                        <img src="../../build/img/blog5.jpg" alt="">
                    </div>
                    <p class="blog-title">Erat blandit tincidunt quisque vulputate eu imperdiet diam dignissim ornare.</p>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="blog-block">
                    <div class="blog-block-img">
                        <p class="data">18 сентября 2020</p>
                        <img src="../../build/img/blog6.jpg" alt="">
                    </div>
                    <p class="blog-title">Est, consequat, condimentum porttitor tincidunt ut eu eget</p>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="blog-block">
                    <div class="blog-block-img">
                        <p class="data">18 сентября 2020</p>
                        <img src="../../build/img/blog7.jpg" alt="">
                    </div>
                    <p class="blog-title">Sed dignissim tortor malesuada commodo ligula id ultricies fringilla a.</p>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="blog-block">
                    <div class="blog-block-img">
                        <p class="data">18 сентября 2020</p>
                        <img src="../../build/img/blog8.jpg" alt="">
                    </div>
                    <p class="blog-title">Viverra in non placerat in nulla.</p>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="blog-block">
                    <div class="blog-block-img">
                        <p class="data">18 сентября 2020</p>
                        <img src="../../build/img/blog9.jpg" alt="">
                    </div>
                    <p class="blog-title">Sit sollicitudin sed morbi metus.</p>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="blog-block">
                    <div class="blog-block-img">
                        <p class="data">18 сентября 2020</p>
                        <img src="../../build/img/blog10.jpg" alt="">
                    </div>
                    <p class="blog-title">Maecenas suspendisse tincidunt eros, et a purus felis enim.</p>
                </div>
            </div>
        </div>
        <div id="pagination-container"></div>
    </div>
</div>
