.not-found {
    text-align: center;
    height: 100vh;
    height: calc(var(--vhMenu, 1vh) * 100);
    img {
        margin-top: 123px;
        margin-bottom: 56px;
    }
    h2 {
        color: #2A2A2A;
        margin-bottom: 24px;
    }
    a {
        color: #E6B012;
        text-decoration: underline;
        transition: .2s;
        &:hover {
            color: #E6B012;
            text-decoration: none;
        }
    }
}
@media (max-width: 991px) {

}

@media (max-width: 767px) {

}
