<main>
    <section class="section-main">
        <div class="section-main-slider">
            <div>
                <div class="section-main-slide">
                    <img src="../../build/img/bg1.png" alt="">
                </div>
            </div>
            <div>
                <div class="section-main-slide">
                    <img src="../../build/img/bg2.png" alt="">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="offset-lg-5 offset-md-3 offset-0 col-lg-7 col-md-9 col-12">
                    <div class="section-main-content">
                        <p class="subtitle">Только одно важно</p>
                        <h1>Ваша безупречная улыбка</h1>
                        <a href="#second" class="down-scroll scrollTo">Листай вниз
                            <span class="run-wrp">
                                <span class="run2-line"></span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="sider-arrows-wrp">
                <div class="sider-arrows sider-arrows-prev prev-main-arrow">
                    <img src="../../build/img/prev.svg" alt="">
                </div>
                <div class="sider-arrows sider-arrows-next next-main-arrow">
                    <img src="../../build/img/prev.svg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- 2 block  -->
    <section id="second" class="main-commanda-section">
        <p class="sec-letter">О компании</p>
        <div class="container">
            <div class="main-commanda-content">
                <img src="../../build/img/bg2.png" alt="">
                <div class="row">
                    <div class="offset-lg-1 offset-0 col-lg-10 col-12">
                        <div class="main-commanda-top">
                            <div class="row">
                                <div class="col-lg-6 col-md-8 col-12">
                                    <h2>Лучшая команда квалифицированных специлистов</h2>
                                </div>
                                <div class="col-lg-6 col-md-4 col-12 more-wrp">
                                    <a href="#">
                                        <span>Подробнее</span>
                                        <img src="../../build/img/prev.svg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <ul class="commanda-list">
                            <li>
                                <span>16</span>
                                <span>лет на <br> рынке</span>
                            </li>
                            <li>
                                <span>28</span>
                                <span>квалифицированных <br>специалистов</span>
                            </li>
                            <li>
                                <span>46</span>
                                <span>сертификатов <br>и дипломов</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 3 block  -->
    <section class="main-serices-section">
        <div class="grad-3"></div>
        <div class="bg-3">
            <img src="../../build/img/bg3.png" alt="">
        </div>
        <div class="container">
            <p class="third-letter">услуги</p>
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-12">
                    <h2>Полный спектр услуг</h2>
                    <p>Maecenas pretium est ut nulla fames nibh quisque amet id. Duis nisl, nunc purus pharetra lacus, mauris nulla varius sed.</p>
                    <div class="all-serv-btn desc">
                        <span>Все услуги</span>
                        <img src="../../build/img/prev.svg" alt="">
                    </div>
                </div>
                <div class="col-xl-9 col-lg-6 col-12">
                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-12">
                            <div class="spectrum-block">
                                <div class="brdr-top"></div>
                                <div class="brdr-bottom"></div>
                                <img src="../../build/img/zub1.svg" alt="">
                                <div class="spectrum-block-content">
                                    <p class="spectrum-name">Терапевтическая стоматология</p>
                                    <p>Ipsum ipsum in ante non. Gravida a, magna interdum nulla quam convallis adipiscing et. Semper faucibus commodo proin ut fringilla</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-12">
                            <div class="spectrum-block">
                                <div class="brdr-top"></div>
                                <div class="brdr-bottom"></div>
                                <img src="../../build/img/zub2.svg" alt="">
                                <div class="spectrum-block-content">
                                    <p class="spectrum-name">Детская стоматология</p>
                                    <p>Ipsum ipsum in ante non. Gravida a, magna interdum nulla quam convallis adipiscing et. Semper faucibus commodo proin ut fringilla</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-12">
                            <div class="spectrum-block">
                                <div class="brdr-top"></div>
                                <div class="brdr-bottom"></div>
                                <img src="../../build/img/zub3.svg" alt="">
                                <div class="spectrum-block-content">
                                    <p class="spectrum-name">Ортодонтическая стоматология</p>
                                    <p>Ipsum ipsum in ante non. Gravida a, magna interdum nulla quam convallis adipiscing et. Semper faucibus commodo proin ut fringilla</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-12">
                            <div class="spectrum-block">
                                <div class="brdr-top"></div>
                                <div class="brdr-bottom"></div>
                                <img src="../../build/img/zub4.svg" alt="">
                                <div class="spectrum-block-content">
                                    <p class="spectrum-name">Ортопедическая стоматология</p>
                                    <p>Ipsum ipsum in ante non. Gravida a, magna interdum nulla quam convallis adipiscing et. Semper faucibus commodo proin ut fringilla</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-12">
                            <div class="spectrum-block">
                                <div class="brdr-top"></div>
                                <div class="brdr-bottom"></div>
                                <img src="../../build/img/zub5.svg" alt="">
                                <div class="spectrum-block-content">
                                    <p class="spectrum-name">хирургическая стоматология</p>
                                    <p>Ipsum ipsum in ante non. Gravida a, magna interdum nulla quam convallis adipiscing et. Semper faucibus commodo proin ut fringilla</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-12">
                            <div class="spectrum-block">
                                <div class="brdr-top"></div>
                                <div class="brdr-bottom"></div>
                                <img src="../../build/img/zub6.svg" alt="">
                                <div class="spectrum-block-content">
                                    <p class="spectrum-name">рентген диагностика</p>
                                    <p>Ipsum ipsum in ante non. Gravida a, magna interdum nulla quam convallis adipiscing et. Semper faucibus commodo proin ut fringilla</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="all-serv-btn mob">
                <span>Все услуги</span>
                <img src="../../build/img/prev.svg" alt="">
            </div>
        </div>
    </section>
    <!-- 4 block  -->
    <section class="main-review-section">
        <p class="four-letter">Отзывы</p>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <h2>Отзывы пациентов</h2>
                    <div class="rev-slid-arr-wrp desc">
                        <div class="sider-rev-arrows sider-rev-arrows-prev prev-rev-arrow">
                            <img src="../../build/img/prev.svg" alt="">
                        </div>
                        <div class="sider-rev-arrows sider-rev-arrows-next next-rev-arrow">
                            <img src="../../build/img/prev.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-rev-slider-wrp">
            <div class="main-rev-slider">
                <div>
                    <div class="main-rev-slide">
                        <img src="../../build/img/ava1.jpg" alt="">
                        <div class="main-rev-content">
                            <p>Eleifend vitae euismod aliquam ultrices. Mauris nullam penatibus ut venenatis, habitasse quam pharetra enim. Ut lacinia fames sed pulvinar gravida faucibus varius. Auctor quisque eu felis enim sapien pharetra, ornare eu est. Porttitor nisl sed dignissim facilisi viverra lorem. Pharetra, volutpat est in in bibendum.</p>
                            <p class="rev-name">
                                <img src="../../build/img/quote.svg" alt="">
                                <span>Яна иванова</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="main-rev-slide">
                        <img src="../../build/img/ava2.jpg" alt="">
                        <div class="main-rev-content">
                            <p>Eleifend vitae euismod aliquam ultrices. Mauris nullam penatibus ut venenatis, habitasse quam pharetra enim. Ut lacinia fames sed pulvinar gravida faucibus varius. Auctor quisque eu felis enim sapien pharetra, ornare eu est. Porttitor nisl sed dignissim facilisi viverra lorem. Pharetra, volutpat est in in bibendum.</p>
                            <p class="rev-name">
                                <img src="../../build/img/quote.svg" alt="">
                                <span>Яна иванова</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="main-rev-slide">
                        <img src="../../build/img/ava1.jpg" alt="">
                        <div class="main-rev-content">
                            <p>Eleifend vitae euismod aliquam ultrices. Mauris nullam penatibus ut venenatis, habitasse quam pharetra enim. Ut lacinia fames sed pulvinar gravida faucibus varius. Auctor quisque eu felis enim sapien pharetra, ornare eu est. Porttitor nisl sed dignissim facilisi viverra lorem. Pharetra, volutpat est in in bibendum.</p>
                            <p class="rev-name">
                                <img src="../../build/img/quote.svg" alt="">
                                <span>Яна иванова</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="rev-slid-arr-wrp mob">
                <div class="sider-rev-arrows sider-rev-arrows-prev prev-rev-arrow">
                    <img src="../../build/img/prev.svg" alt="">
                </div>
                <div class="sider-rev-arrows sider-rev-arrows-next next-rev-arrow">
                    <img src="../../build/img/prev.svg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- 5 block  -->
    <section class="section-form">
        <div class="section-form-img">
            <img src="../../build/img/bg5.png" alt="">
        </div>
        <div class="container">
            <h2>Запишитесь на Прием</h2>
            <p>Запись на прием онлайн. Все для вашего удобства!</p>
            <form id="valid1" action="#">
                <div class="input-flex">
                    <div class="input-style">
                        <input class="input-form input-valid" type="text" data-input="name" name="name" placeholder="Ваше имя">
                        <p class="input-error">Ошибка ввода</p>
                    </div>
                    <div class="input-style">
                        <input class="input-form input-valid mask-phone" type="tel" data-input="phone" name="phone" placeholder="Ваш телефон">
                        <p class="input-error">Ошибка ввода</p>
                    </div>
                    <div class="input-style">
                        <input class="input-form comment" type="text" name="question" placeholder="Ваш вопрос">
                    </div>
                </div>
                <p class="warning">Нажимая на кнопку, вы соглашаетесь на обработку персональных данных в соответствии с <a href="/policy">Политиками Конфиденциальности</a></p>
                <input class="form-btn" type="submit" name="" value="Записаться">
            </form>

        </div>
    </section>
</main>
