<div class="service-page pt64">
    <section class="serice-first">
        <div class="container">
            <a href="#" class="to-serv">
                <img src="../../build/img/prev.svg" alt="">
                <span>к списку услуг</span>
            </a>
            <img src="../../build/img/zubServ.svg" alt="">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-12">
                    <h1>Терапевтическая стоматология</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- 2 block  -->
    <section class="service-second">
        <div class="servBg-2">
            <img src="../../build/img/servBg.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-12">
                    <p>Nunc imperdiet nec aenean ac aliquam. Sed urna elementum dis tempus ac ut mus non. Quisque feugiat nullam felis leo arcu, turpis ullamcorper sit. Fringilla mi egestas velit ornare in consectetur nam dictum semper. Donec pulvinar enim interdum risus nisi massa viverra maecenas amet.</p>
                    <div class="serv-btn open-pop-up">Записаться на прием</div>
                </div>
            </div>
        </div>
    </section>
    <section class="serv-content-article">
        <div class="container">
            <article>
                <h2>Sit egestas tortor, a</h2>
                <br>
                <p>Pharetra sagittis tincidunt risus sed. Ullamcorper lectus dictumst at vestibulum euismod sit eleifend. Varius non dui morbi libero orci, mauris ipsum. Sit ornare donec a, adipiscing massa. Habitant sit sed amet orci orci viverra arcu. A varius odio dui at placerat pulvinar. Urna massa, scelerisque malesuada ullamcorper. Blandit scelerisque feugiat fermentum dictum mi fringilla vitae nulla sagittis. Eleifend cursus eu, auctor habitasse duis pretium. Morbi eget pulvinar et blandit. Aliquam nulla integer eget in aliquet a pretium. Quis turpis velit amet euismod tellus sodales. Netus luctus aliquet blandit etiam dictum. Faucibus enim sed ultrices facilisi mauris vitae netus. A et, massa, massa, quis mi molestie.</p>
                <br>
                <img class="alignright" src="../../build/img/art1.png" alt="">
                <p>Vitae pellentesque ac, laoreet arcu laoreet varius justo ultricies. Donec tortor eu sit aliquet nunc. Ornare sapien, condimentum diam commodo eget elementum, ac. Lacus auctor orci senectus sit massa sit. Sapien, at vel ac porttitor ac placerat. Sagittis lectus fusce eget aliquam viverra. Ultricies diam, ipsum quis nibh nulla at semper. Commodo augue dictum amet sapien, sagittis arcu.</p>
                <br>
                <p> <i>Scelerisque aliquam purus odio gravida amet fermentum dictum iaculis. Maecenas felis enim pharetra interdum. Maecenas mauris, laoreet sed ullamcorper ornare viverra purus. Ultrices aliquet eleifend blandit et platea faucibus odio.</i></p>
                <br><br><br><br>
                <h2>Amet commodo sed ac nisi scelerisque urna, faucibus non risus</h2>
                <br>
                <p>Suscipit congue maecenas velit adipiscing natoque ligula. Amet imperdiet facilisis parturient risus, porta lorem ornare. Nulla ante vel ut eu vivamus. Sed viverra platea auctor pellentesque elit sollicitudin. Tortor odio libero et justo dis cursus imperdiet risus. Elit augue nulla ornare est, consequat sed massa quisque.</p>
                <br>
                <img class="alignleft" src="../../build/img/art2.png" alt="">
                <ul>
                    <li>Suscipit congue maecenas velit adipiscing natoque ligula.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere veritatis, debitis delectus.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum dolorem quis tempore nostrum iste, eos.</li>
                    <li>Suscipit congue maecenas velit adipiscing natoque ligula.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere veritatis, debitis delectus.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum dolorem quis tempore nostrum iste, eos.</li>
                </ul>
                <br><br><br><br>
                <h2>Tempor, in vitae morbi posuere in urna in etiam adipiscing</h2>
                <br>
                <ol>
                    <li>Suscipit congue maecenas velit adipiscing natoque ligula.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum dolorem quis tempore nostrum iste, eos.</li>
                    <li>Suscipit congue maecenas velit adipiscing natoque ligula.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere veritatis, debitis delectus.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum dolorem quis tempore nostrum iste, eos.</li>
                </ol>
                <br><br>
                <table class="iksweb">
                	<tbody>
                		<tr>
                			<th>At libero</th>
                			<th>Consectetur adipisicing elit</th>
                		</tr>
                		<tr>
                			<td>Lorem ipsum dolor sit.</td>
                			<td>consectetur adipisicing elit. Ipsum</td>
                		</tr>
                		<tr>
                			<td>Lorem ipsum dolor sit.</td>
                			<td>quis tempore nostrum iste</td>
                		</tr>
                		<tr>
                			<td>quis tempore nostrum iste</td>
                			<td>Lorem ipsum dolor sit.</td>
                		</tr>
                		<tr>
                			<td>ipsum dolor sit amet, consectetur adipisicing elit. Facere veritatis</td>
                			<td>Lorem ipsum.</td>
                		</tr>
                		<tr>
                			<td>quis tempore nostrum iste</td>
                			<td>consectetur adipisicing elit. Ipsum</td>
                		</tr>
                	</tbody>
                </table>
                <br><br>
                <p>Suscipit congue maecenas velit adipiscing natoque ligula. Amet imperdiet facilisis parturient risus, porta lorem ornare. Nulla ante vel ut eu vivamus. Sed viverra platea auctor pellentesque elit sollicitudin. Tortor odio libero et justo dis cursus imperdiet risus. Elit augue nulla ornare est, consequat sed massa quisque.</p>
                <br><br>
                <blockquote>
                    Urna mauris, mi mauris tincidunt non. Eu lacinia ac eu tristique at amet consequat. At fermentum, id cursus egestas. Mi sit vitae nulla tellus interdum fringilla dui nibh. Aliquam laoreet pellentesque eget vitae sagittis. Dignissim adipiscing in elit nisl facilisi vel ut diam.
                    <br><br>
                    Sed mus velit id quam faucibus hac dolor ac ut. Porttitor consectetur at eget sit lorem. Ultrices mauris in nunc iaculis arcu. Viverra in risus, vel urna adipiscing vulputate felis dignissim adipiscing. Facilisi elementum id gravida lacus proin amet ac id. Blandit eget mauris, et sapien. Mauris dolor nullam at viverra platea. A ultricies mauris imperdiet egestas enim. Non vestibulum placerat duis urna congue risus, ultrices.
                </blockquote>
            </article>
        </div>
    </section>
    <section class="serv-bottom">
        <div class="servBg-2">
            <img src="../../build/img/servBg.png" alt="">
        </div>
        <div class="container">
            <h2>Терапевтическая стоматология</h2>
            <div class="serv-btn open-pop-up">Записаться на прием</div>
        </div>
    </section>
</div>
