.policy {
    padding-bottom: 164px;
    .container {
        padding-top: 103px;
    }
    h2 {
        color: #2A2A2A;
        margin-bottom: 48px;
    }
    h3, h4, h5, h6 {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 1.1;
        letter-spacing: -0.03em;
        color: #2A2A2A;
        margin-top: 64px;
        margin-bottom: 32px;
    }
    p {
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 25px;
    }
    span {
        display: inline-block;
        padding-left: 20px;
    }
    a {
        color: #E6B012;
        text-decoration: underline;
        transition: .2s;
        &:hover {
            color: #E6B012;
            text-decoration: none;
        }
    }
}
@media (max-width: 991px)  {
    .policy  {
        padding-bottom: 55px;
        .container {
            padding-top: 63px;
        }
        h2 {
            font-size: 32px;
            margin-bottom: 30px;
        }
        h3, h4, h5, h6 {
            font-size: 26px;
            margin-top: 34px;
            margin-bottom: 25px;
        }
    }
}
