<div id="formPopUp" class="pop-up-general-block">
    <h2>Запишитесь на&nbsp;прием</h2>
    <form class="vert-inp" id="valid3">
        <div class="input-style">
            <input class="input-form black input-valid" type="text" data-input="name" name="name" placeholder="Ваше имя">
            <p class="input-error">Ошибка ввода</p>
        </div>
        <div class="input-style">
            <input class="input-form black input-valid mask-phone" type="tel" data-input="phone" name="phone" placeholder="Ваш телефон">
            <p class="input-error">Ошибка ввода</p>
        </div>
        <p class="warning">Нажимая на кнопку, вы соглашаетесь на обработку персональных данных в соответствии с <a href="/policy">Политиками Конфиденциальности</a></p>
        <input class="form-btn" type="submit" name="" value="Записаться">
    </form>
    <div class="pop-up-general-block-close-btn"></div>
</div>


<div id="thnx" class="pop-up-general-block thnx">
    <h2>Спасибо!</h2>
    <p>Наш консультант свяжется с вами в&nbsp;ближайшее время</p>
    <a href="/" class="form-btn">Вернуться на главную</a>
    <div class="pop-up-general-block-close-btn"></div>
</div>
