<div id="formPopUp" class="pop-up-general-block">
    <h2>Узнайте о подробных условиях сбережений, а также как мы обеспечиваем сохранность ваших средств</h2>
    <p>Заполните форму – наш специалист свяжется с вами в ближайшее время</p>
    <form id="validPop" action="#">
        <div class="input-style">
            <input class="input-form input-valid" type="text" data-input="name" name="name" placeholder="Имя*">
            <p class="input-error">Ошибка ввода</p>
        </div>
        <div class="input-style">
            <input class="input-form input-valid mask-phone" type="tel" data-input="phone" name="phone" placeholder="Номер телефона*">
            <p class="input-error">Ошибка ввода</p>
        </div>
        <label class="checkbox">
            <input class="checkbox-check" type="checkbox">
            <div class="checkbox__text">Я согласен с <a href="/policy"> политиками конфиденциальности</a></div>
        </label>
        <input class="form-btn btn-checkbox btn-checkbox-disabled" type="submit" name="" value="Отправить заявку">
    </form>
    <div class="pop-up-general-block-close-btn"></div>
</div>

<div id="progPopUp" class="pop-up-general-block pop-up-general-block-new">
    <h2>Полные условия сберегательных программ</h2>
    <ul class="pro-tabs-btn">
        <li class="active" data-tab="pens">Пенсионная</li>
        <li data-tab="nakopi">Накопительная</li>
        <li data-tab="dohod">Доходная</li>
    </ul>
    <div class="prog-tabs-body-wrp">
        <div id="pens" class="prog-tabs-body active">
            <div class="table-scroll">
                <table>
                    <thead>
                      <tr><th>Сумма</th>
                      <th>от 6 мес.<br>до 1 года</th>
                      <th>от 1 года<br>до 2 лет</th>
                      <th>от 2 года<br>до 3 лет</th>
                    </tr></thead>
                    <tbody>
                      <tr>
                        <td>от 50 000 ₽</td>
                        <td>10.5%</td>
                        <td>10.5%</td>
                        <td>10.5%</td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <table>
                <thead>
                  <tr><th colspan="2">Условия программы</th>
                </tr></thead>
                <tbody>
                  <tr>
                    <td>Выплата процентов</td>
                    <td>ежемесячно, либо в конце срока</td>
                  </tr>
                  <tr>
                    <td>Пополнение</td>
                    <td>да, от 50 000 ₽</td>
                  </tr>
                  <tr>
                    <td>Капитализация</td>
                    <td>да, в конце срока</td>
                  </tr>
                  <tr>
                    <td>Частичное снятие</td>
                    <td>да, до 25% без потери ставки</td>
                  </tr>
                  <tr>
                    <td>Досрочное расторжение</td>
                    <td>да, по ставке 0.1%</td>
                  </tr>
                  <tr>
                    <td>Примечание</td>
                    <td>при достижении суммы по договору 500 000 руб. программа переходит в статус «Накопительная»</td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div id="nakopi" class="prog-tabs-body">
            <div class="table-scroll">
                <table>
                    <thead>
                      <tr><th>Сумма</th>
                      <th>от 6 мес.<br>до 1 года</th>
                      <th>от 1 года<br>до 2 лет</th>
                      <th>от 2 года<br>до 3 лет</th>
                    </tr></thead>
                    <tbody>
                      <tr>
                        <td>от 500 000 ₽</td>
                        <td>12.5%</td>
                        <td>13%</td>
                        <td>13.5%</td>
                      </tr>
                      <tr>
                        <td>от 1 000 000 ₽</td>
                        <td>13.5%</td>
                        <td>14%</td>
                        <td>14.5%</td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <table>
                <thead>
                  <tr><th colspan="2">Условия программы</th>
                </tr></thead>
                <tbody>
                  <tr>
                    <td>Выплата процентов</td>
                    <td>ежемесячно, либо в конце срока</td>
                  </tr>
                  <tr>
                    <td>Пополнение</td>
                    <td>да, от 500 000 ₽</td>
                  </tr>
                  <tr>
                    <td>Капитализация</td>
                    <td>да, в конце срока</td>
                  </tr>
                  <tr>
                    <td>Досрочное расторжение</td>
                    <td>да, по ставке 0.1%</td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div id="dohod" class="prog-tabs-body">
            <div class="table-scroll">
                <table>
                    <thead>
                      <tr><th>Сумма</th>
                      <th>от 6 мес.<br>до 1 года</th>
                      <th>от 1 года<br>до 2 лет</th>
                      <th>от 2 года<br>до 3 лет</th>
                    </tr></thead>
                    <tbody>
                      <tr>
                        <td>от 1 000 000 ₽</td>
                        <td>13.5%</td>
                        <td>14%</td>
                        <td>14.5%</td>
                      </tr>
                      <tr>
                        <td>от 2 до 3 млн. ₽</td>
                        <td>13.5%</td>
                        <td>15.5%</td>
                        <td>16%</td>
                      </tr>
                      <tr>
                        <td>от 3 и выше млн. ₽</td>
                        <td>13.5%</td>
                        <td>15.5%</td>
                        <td>18%</td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <table>
                <thead>
                  <tr><th colspan="2">Условия программы</th>
                </tr></thead>
                <tbody>
                  <tr>
                    <td>Выплата процентов</td>
                    <td>ежемесячно, либо в конце срока</td>
                  </tr>
                  <tr>
                    <td>Пополнение</td>
                    <td>да, от 500 000 ₽</td>
                  </tr>
                  <tr>
                    <td>Капитализация</td>
                    <td>да, в конце срока</td>
                  </tr>
                  <tr>
                    <td>Досрочное расторжение</td>
                    <td>да, по ставке 0.1%</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="bottom-part-popup">
        <h2>Ответим на любые вопросы</h2>
        <p>Оставьте телефон - наш специалист свяжется с вами в ближайшее время, поможет подобрать программу сбережений и ответит на все вопросы</p>
        <form id="validPop2" action="#">
            <div class="new-flex-wrp">
                <!-- <div class="input-style">
                    <input class="input-form input-valid" type="text" data-input="name" name="name" placeholder="Имя*">
                    <p class="input-error">Ошибка ввода</p>
                </div> -->
                <div class="input-style">
                    <input class="input-form input-valid mask-phone" type="tel" data-input="phone" name="phone" placeholder="Номер телефона*">
                    <p class="input-error">Ошибка ввода</p>
                </div>
                <input class="form-btn" type="submit" name="" value="Отправить заявку">
            </div>
            <p>Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с <a href="/policy">Пользовательским соглашением </a></p>

            <!-- <label class="checkbox">
                <input class="checkbox-check" type="checkbox">
                <div class="checkbox__text">Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с <a href="/policy">Пользовательским соглашением </a></div>
            </label> -->

        </form>
    </div>
    <div class="pop-up-general-block-close-btn"></div>
</div>

<div id="thnx" class="pop-up-general-block thnx">
    <h2>Спасибо!</h2>
    <p>Наш консультант свяжется с вами <br>в ближайшее время</p>
    <a href="/" class="form-btn">Вернуться на главную</a>
    <div class="pop-up-general-block-close-btn"></div>
</div>
