<section class="not-found">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 not-found-content">
                <div class="center-block"><h2>Запрашиваемая вами страница не&nbsp;найдена или перенесена.</h2> Попробуйте воспользоваться меню
                или <a href="/"><span class="ref">перейти на главную</span></a></div>
            </div>
            <div class="col-12 col-md-6 not-found-content">
                <span class="decor-letter">404</span>
            </div>
        </div>
    </div>
</section>
