<header class="header-scroll">
    <div class="flex">
        <a class="logo" href="/">
            <img class="logo-header" src="../../build/img/logo.svg" alt="">
            <img class="logo-header-scroll" src="../../build/img/logo-scroll.svg" alt="">
        </a>
        <ul class="header-list flex">
            <li>
                <a href="#">Услуги</a>
            </li>
            <li>
                <a href="#">О нас</a>
            </li>
            <li>
                <a href="#">Блог</a>
            </li>
        </ul>
    </div>
    <div class="flex">
        <ul class="tab-list language">
            <li class="active">Ru</li>
            <li>En</li>
        </ul>
        <div class="header-tel">
            <div class="header-tel-img">
                <img src="../../build/img/phone.svg" alt="">
            </div>
            <div class="header-pop">
                <div class="btn-tel-pop">Записаться сейчас</div>
                <div class="head-info">
                    <p class="footer-subtitle">Телефоны</p>
                    <ul class="footer-list">
                        <li>
                            <a href="tel:8 800 123-45-67">8 800 123-45-67</a>
                        </li>
                        <li>
                            <a href="tel:8 800 123-45-67">8 800 123-45-67</a>
                        </li>
                    </ul>
                </div>
                <div class="head-info">
                    <p class="footer-subtitle">E-mail</p>
                    <ul class="footer-list">
                        <li>
                            <a href="mailto:mail@luxdentica.ru">mail@luxdentica.ru</a>
                        </li>
                    </ul>
                </div>
                <div class="head-info">
                    <p class="footer-subtitle">мы в соцсетях</p>
                    <ul class="footer-list-acc">
                        <li>
                            <a href="#">
                                <img src="../../build/img/insta.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../../build/img/fb.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../../build/img/youtube.svg" alt="">
                            </a>
                        </li>
                                        <li>
                            <a href="#">
                                <img src="../../build/img/telega.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="btn-tel-pop2">
                    <span>наши контакты</span>
                    <img src="../../build/img/prev.svg" alt="">
                </div>
            </div>
        </div>
        <div class="burger">
            <span></span>
        </div>
        <div class="header-order-btn">Записаться</div>
    </div>

</header>
