<div class="contacts-page pt64">
    <section class="contacts-first">
        <p class="cont-letter">Контакты</p>
        <div class="container">
            <p class="rubrika">Контакты</p>
            <h1>Свяжитесь с нами</h1>
        </div>
    </section>
    <section class="contacts-plashka">
        <div class="servBg-2">
            <img src="../../build/img/contBg.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5 col-10">
                    <div class="cont-pop">
                        <img src="../../build/img/1zub.svg" alt="">
                        <div class="head-info">
                            <p class="footer-subtitle">Телефоны</p>
                            <ul class="footer-list">
                                <li>
                                    <a href="tel:8 800 123-45-67">8 800 123-45-67</a>
                                </li>
                                <li>
                                    <a href="tel:8 800 123-45-67">8 800 123-45-67</a>
                                </li>
                            </ul>
                        </div>
                        <div class="head-info">
                            <p class="footer-subtitle">E-mail</p>
                            <ul class="footer-list">
                                <li>
                                    <a href="mailto:mail@luxdentica.ru">mail@luxdentica.ru</a>
                                </li>
                            </ul>
                        </div>
                        <div class="head-info">
                            <p class="footer-subtitle">мы в соцсетях</p>
                            <ul class="footer-list-acc">
                                <li>
                                    <a href="#">
                                        <img src="../../build/img/insta.svg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../build/img/fb.svg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../build/img/youtube.svg" alt="">
                                    </a>
                                </li>
                                                <li>
                                    <a href="#">
                                        <img src="../../build/img/telega.svg" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="offset-xl-1 offset-lg-2 offset-1 col-lg-5 col-md-6 col-11">
                    <div class="cont-pop2">
                        <div class="head-info">
                            <p class="footer-subtitle">Адрес клиники</p>
                            <p>Mauris natoque blandit arcu morbi enim nisi. Et sit pellentesque massa at tellus arcu amet justo adipiscing.</p>
                        </div>
                        <div class="head-info">
                            <p class="footer-subtitle">время работы</p>
                            <p>Пн-Пт с 9:00 до 18:00 <br>Сб с 10:00 до 16:00 <br>Вс - выходной</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-map">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-md-6 col-12">
                    <p class="rubrika">Остались вопросы?</p>
                    <h2>Напишите нам</h2>
                    <form class="vert-inp" id="valid2">
                        <div class="input-style">
                            <input class="input-form black input-valid" type="text" data-input="name" name="name" placeholder="Ваше имя">
                            <p class="input-error">Ошибка ввода</p>
                        </div>
                        <div class="input-style">
                            <input class="input-form black input-valid mask-phone" type="tel" data-input="phone" name="phone" placeholder="Ваш телефон">
                            <p class="input-error">Ошибка ввода</p>
                        </div>
                        <div class="input-style">
                            <textarea class="input-form black comment-textarea" placeholder="Ваш вопрос"></textarea>
                        </div>
                        <p class="warning">Нажимая на кнопку, вы соглашаетесь на обработку персональных данных в соответствии с <a href="/policy">Политиками Конфиденциальности</a></p>
                        <input class="form-btn" type="submit" name="" value="Записаться">
                    </form>
                </div>
                <div class="offset-xl-1 col-md-6 offset-0 col-12">
                    <div id="contact-map"></div>
                </div>
            </div>
        </div>
    </section>
</div>
